body {
    font-family: Arial, sans-serif;
    background-color: #282b30;
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    max-width: 1200px;
    padding: 50px;
}

h1 {
    text-align: center;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #424549;
    color: #ffffff;
    cursor: pointer;
}

table th, table td {
    padding: 12px 10px;
    text-align: center;
}

table th.sortable:hover {
    background-color: #007965;
}

table tbody tr:nth-child(even) {
    background-color: #424549;
}

table tbody tr:hover {
    background-color: #4a4c51;
}