body {
    font-family: Arial, sans-serif;
    background-color: #282b30;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center; /* Centers child elements horizontally */
    min-height: 100vh; /* Makes sure body takes up at least the full viewport height */
}

.container {
    padding-top: 30px;
}

h1 {
    text-align: center;
    color: white;
}

table {
    display: block;
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 0.9em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: #424549;
    color: #ffffff;
    cursor: pointer;
}

table th, table td {
    padding: 12px 10px;
    text-align: center;
}

table th.sortable:hover {
    background-color: #007965;
}

table tbody tr:nth-child(even) {
    background-color: #424549;
}

table tbody tr:hover {
    background-color: #4a4c51;
}

.discord-input {
    width: 90%;
    padding: 10px 12px;
    background-color: #40444b;
    border: none;
    border-radius: 5px;
    color: #dcddde;
    font-size: 1rem;
    outline: none;

}

.discord-input::placeholder {
    color: #72767d;
}

.page-search-header{
    background-color: #282b30;
}